* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 220px 1fr;
}

/* start of sidebar */

.sidebar {
  background-color: #0077b6;
  height: 100vh;
}

.dashboard-flex {
  display: flex;
  justify-content: center;
}

.dashboard-flex img {
  width: 20%;
  padding: 5px;
}

.dashboard-flex p {
  font-size: 28px;
  font-weight: 500;
  color: white;
  padding-top: 5px;
  font-family: Helvetica, sans-serif;
}

.col {
  display: grid;
  grid-template-columns: 10px 1fr;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.col > p {
  color: white;
  padding-left: 15px;
}

.grid {
  padding-bottom: 15px;
}

/* end of sidebar */

/* start of mainbar */

.main-bar {
  background-color: whitesmoke;
  height: 73vh;
}

.top-bar {
  height: 25vh;
}

.search-bar {
  width: 80vw;
  margin-left: 30px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.searchbar {
  height: 25px;
  width: 40vw;
  margin-left: 20px;
  background-color: #cccccc;
  border-radius: 10px;
  margin-right: 150px;
}

.notification {
  margin-right: 30px;
}

.profile {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background-color: #cccccc;
  margin-right: 10px;
}

.welcome-bar {
  height: 18vh;
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: space-between;
}

.large {
  width: 80px;
  height: 80px;
}

.welcome {
  display: flex;
  align-items: center;
}

.welcome p {
  font-size: 12px;
}

.welcome h2 {
  font-size: 20px;
}

.greet {
  display: flex;
  flex-direction: column;
}

.buttons button {
  margin: 15px;
  padding: 8px 10px;
  border-radius: 15px;
}

button:hover {
  cursor: pointer;
}
